/*=====|| MONTSERRAT REGULAR ||=====*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



/*=====|| MONTSERRAT ITALIC-VARIABLEFONT_WGHT ||=====*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



/*=====|| MONTSERRAT ITALIC ||=====*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}




/*=====|| MONTSERRAT VARIABLEFONT_WGHT ||=====*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



/*=====|| MONTSERRAT BOLD ||=====*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



/*=====|| ORBITRON REGULAR ||=====*/
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



/*=====|| ORBITRON BOLD ||=====*/
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



/*=====|| ORBITRON VARIABLEFONT-WGHT ||=====*/
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}